nav {
    background-color: $navBg;
  li {
    list-style: none;
    padding: 10px;
    display: inline-block;
    @media (max-width: 300px) {
        display: block;
    }
    background-color: $navItemBg;
    a {
      color: $aCl;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        color: $hoverCl;
      }
    }
  }
}
